.cards {

    background-color: rgba(245, 245, 250, 1);
    padding-top: 30px;
    padding-bottom: 0px;

    .link {

        &::after {
            left: 116px;
        }
    }

    .title {

        margin: 5px 0 30px 0;
    }
    
    .cards-blocks {

        display: grid;
        gap: 30px;

        .block {
            padding: 30px;
            background-color: rgba(255, 255, 255, 1);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
        .subtitle {
            color: rgba(36, 163, 255, 1);
            text-decoration: none;
            margin: 0;
        }

        .date {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 1px;
            text-align: left;
            color: rgba(179, 179, 186, 1);
            text-transform: uppercase;
        }
    
        .line {
            
            width: 100%;
            height: 4px;
            background-color: rgba(230, 230, 240, 1);
            margin: 0;
        }
        
        .text {
            color: rgba(0, 0, 0, 1);
            margin: 0;
        }

        .img {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }

        .card-one {
        
            .img {
                background-image: url(../images/card-one.png);
            }
      
        }
    
        .card-two {
    
            .img {
                background-image: url(../images/card-two.png);
            }
    
        }
    
        .card-three {
    
            .img {
                background-image: url(../images/card-three.png);
            }
    
        }


    }
    

}