.partners {
    padding-top: 60px;
    background-color: #fff;
    margin-bottom: 0px;

    p {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-align: center;
        color: rgba(50, 50, 100, 1);
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 0;
    }
    }

    .partners-blocks {

        display: grid;
        
        .logo {
            height: 120px;
            position: relative;

            a {
                display: block;
                height: 120px;
                width: 100%;
            }
            
            img {
                    position: absolute;
                    border-radius: 12px 0px 0px 0px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

    }

    .hillel {
        background-color: rgba(28, 66, 128, 1);
    }
        
    .wannabiz {
        background-color: rgba(20, 54, 70, 1);
    }

    .tapgerine {
        background-color: rgba(244, 139, 48, 1);
    }

    .look {
        background-color: rgba(158, 77, 195, 1);
    }

    .orangear {
        background-color: rgba(253, 147, 57, 1);
    }

    .adtellige {
        background-color: rgba(226, 226, 228, 1);
    }

    .clickky {
        background-color: rgba(199, 28, 54, 1);
    }

    .ecoleasing {
        background-color: rgba(220, 243, 249, 1);
    }

    .infratek {
        background-color: rgba(234, 234, 234, 1);
    }

    .citypark {
        background-color: rgba(40, 34, 64, 1);
    }

    .artprint {
        background-color: rgba(29, 69, 104, 1);
    }

    .ultimate {
        background-color: rgba(0, 0, 0, 1);
    }
