.services {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

    &::after {
        content: '';
        position: absolute;
        height: 10px;
        bottom: -10px;
        left: 20px;
        right: 20px;
        border-radius: 0px 0px 12px 12px;
        background-color: rgba(202, 202, 219, 1);
    }

    &::before {
        content: '';
        position: absolute;
        height: 10px;
        bottom: -20px;
        left: 40px;
        right: 40px;
        border-radius: 0px 0px 12px 12px;
        background-color: rgba(231, 231, 242, 1);
    }

    a {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-align: left;
        text-decoration: none;
        color: rgba(36, 163, 255, 1);
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        
        &::after {
            content: '';
            background-image: url(../images/Arrow.svg);
            height: 12px;
            width:12px;
            position: absolute;
            top: 1px;
            left: 80px; 
        }

        &:hover {
            color: rgba(240, 20, 90, 1);

            &::after {
                content: '';
                background-image: url(../images/Arrowhover.svg);
                height: 12px;
                width: 12px;
            }
        }
    }


    .title {
        margin-top: 10px;
    }

    .blocks {

        display: grid;
        gap: 30px;
        
        .block {

            div {
                width: 92px;
                height: 92px;
                padding: 14px;
                border-radius: 24px;;
                background-color: rgba(255, 255, 255, 1);
                margin-bottom: 30px;
            }
        
            h3 {
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(36, 163, 255, 1);
                margin-top: 0;
                margin-bottom: 15px;
            }
        
            .services-text {
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(255, 255, 255, 1);
                margin: 0;
            }
        }

    }
}

