@use 'services.scss';
@use 'partners.scss';
@use 'slider.scss';
@use 'cards.scss';
@use 'content.scss';
@use 'footer.scss';
@import 'normalize.scss';
@import 'fonts.scss';

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.partners-blocks {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 6px 0;
}

.link {

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color: rgba(36, 163, 255, 1);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

        
    &::after {
        content: '';
        background-image: url(../images/Arrow.svg);
        height: 12px;
        width:12px;
        position: absolute;
        top: 1px;
        left: 80px; 
    }

    &:hover {
        color: rgba(240, 20, 90, 1);

        &::after {
            content: '';
            background-image: url(../images/Arrowhover.svg);
            height: 12px;
            width: 12px;
        }
    }
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}


@media (max-width: 768px) {
    
    .logo:nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 768px) {

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .content {

        padding-top: 60px;
        padding-bottom: 60px;

        .content-wrapper {

            padding-left: 60px;
        }

        .content-title {

            padding-bottom: 60px;

            .content-link {
            
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: left;
    
            }
        }

        .content-block {

            padding-top: 60px;

            .content-block-title {
            
                font-size: 30px;
                font-weight: 700;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: left;
    
            }
    
            .content-block-text {
               
                font-size: 19px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
    
            }
        }
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }
    
    .services {
        
        margin-bottom: 80px;
        
        .title {
            margin-bottom: 60px;
        }

        .blocks {

            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 60px;
            
        }
    
    }

    
    .slider {

        .slider-one {
        
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            
            .img-one {
                background-image: url(../images/image-tablet.png);
                width: 100%;
            }
            
            .text {
                margin: 0;
            }
        }
    }
    
    
    .partners {
        
        .partners-blocks {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            
            .logo {
                display: block;
            }
        }

    }

    .cards {

        .cards-blocks {

            grid-template-areas: 
            "card-one card-two" 
            "card-three card-three";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
    
            .card-one {
                
                grid-area: card-one;
                
                .img {
                    background-image: url(../images/card-one-tablet.png);
                    width: 100%;
                }
    
                .block {
                    padding-bottom: 132px;
                }
            }
    
            .card-two {
    
                grid-area: card-two;
    
                .img {
                    background-image: url(../images/card-two-tablet.png);
                    width: 100%;
                }
    
            }
    
            .card-three {
    
                grid-area: card-three;
    
                .img {
                    background-image: url(../images/card-three-tablet.png);
                    width: 100%;
                }
            }
        }
    }

    .footer {

        display: grid;
        grid-template-areas:
        "info copyright"
        "contacts contacts";
        justify-content: space-between;

        .info {
            grid-area: info;
            flex-direction: row;
            padding: 0;
            gap: 0;

            .location {

                &::after {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }
            }
        }

        .contacts {

            grid-area: contacts;
            flex-direction: row;
            padding: 0;
            gap: 0;
            align-self: start;

            .phone {

                &::before {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }
            }
        }

        .copyright {

            grid-area: copyright;
        }
    }
}

@media (min-width: 1024px) {


    .content {

        display: grid;
        grid-template-columns: auto auto;
        gap: 60px;

        .content-wrapper {
            padding-left: 60px;
        }

        .wrapper {
            padding-left: 0;
            padding-right: 60px;
        }

        .content-title {

            flex-direction: column;
            padding-bottom: 0;
            
            .content-link {
                
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: right;
                margin-bottom: 0;

            }
        }

        .content-block {

            padding-top: 10px;
            padding-bottom: 10px;
            border-left: 4px solid rgba(255, 255, 255, 0.3);
            border-top: none;
            padding-left: 60px;
        }
    }

   .services {

        .blocks {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
   }

   .slider {

    .slider-one {

        grid-template-columns: auto auto;
        grid-template-rows: 1fr;

        .img-one {

            background-image: url(../images/image-tabletHD.png);
            border-top-right-radius: 0;
            border-bottom-left-radius: 12px;
            width: 400px;
            height: 528px;
        }

        .block {
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
        }
    }
   }

   .partners {

        .partners-blocks {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
       
   }

   .cards {

    .cards-blocks {

        grid-template-areas: 
        "card-one card-two card-three";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

       .card-one {
           
            .img {
                background-image: url(../images/card-one-tablerhd.png);
            }

        }

        .card-two {
           
            .img {
                background-image: url(../images/card-two-tablethd.png);
            }

        }

        .card-three {
           
            .img {
                background-image: url(../images/card-three-tablethd.png);
            }

            .block {
                padding-bottom: 110px;
            }
        }
    }
   }
}

@media (min-width: 1440px) {

    .content {

        .content-wrapper {
            padding-left: 180px;
        }

        .wrapper {
            padding-right: 180px;
        }
           
        .content-block {         
            padding-top: 43px;
            padding-bottom: 43px;
        }
    }

    .slider {

        .slider-one {

            .img-one {
                background-image: url(../images/image-desktopSD.png);
                height: 344px;
            }
    
        }
    }

    .cards {

        .cards-blocks {

            .card-one {
    
                .img {
                    background-image: url(../images/card-one-desktopsd.png);
                }
    
                .block {
                    padding-bottom: 92px;
                }
    
            }
    
            .card-two {
    
                .img {
                    background-image: url(../images/card-two-desktopsd.png);
                }
    
            }
    
            .card-three {
    
                .img {
                    background-image: url(../images/card-three-desktopsd.png);
                }
    
                .block {
                    padding-bottom: 70px;
                }
            }
        }
    }
}


@media (min-width: 1920px) {

    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .content {

        .content-wrapper {
            padding-left: 280px;
        }

        .wrapper {
            padding-right: 280px;
        }
           
        .content-block {
            
            padding-top: 73px;
            padding-bottom: 73px;
        }
    }

    .slider {

        .slider-one {
    
            .img-one {
                background-image: url(../images/image-desktop.png);
                height: 298px;
            }
    
        }
    }
    
    .partners-blocks {
        
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
       
        .hillel {
            border-top-left-radius: 12px;
        }
        
        .look {
            border-top-right-radius: 12px;
        }
       
        .infratek {
            border-bottom-left-radius: 12px;
        }
       
        .ultimate {
            border-bottom-right-radius: 12px;
        }
    }

    .cards {

        .cards-blocks {

            .card-one {
    
                .img {
                    background-image: url(../images/card-one-desktop.png);
                }
    
                .block {
                    padding-bottom: 72px;
                }
            }
    
            .card-two {
    
                .img {
                    background-image: url(../images/card-two-desktop.png);
                }
    
            }
    
            .card-three {
    
                .img {
                    background-image: url(../images/card-three-desktop.png);
                }
    
                .block {
                    padding-bottom: 50px;
                }
            }
    
        }
    }
}



