@use 'services.scss';
@use 'partners.scss';
@use 'slider.scss';
@use 'cards.scss';
@use 'content.scss';
@use 'footer.scss';
@use 'header.scss';
@use 'service_page.scss';
@import 'normalize.scss';
@import 'fonts.scss';

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 10px;
        bottom: -10px;
        left: 20px;
        right: 20px;
        border-radius: 0px 0px 12px 12px;
        background-color: rgba(202, 202, 219, 1);
    }

    &::before {
        content: '';
        position: absolute;
        height: 10px;
        bottom: -20px;
        left: 40px;
        right: 40px;
        border-radius: 0px 0px 12px 12px;
        background-color: rgba(231, 231, 242, 1);
    }
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.partners-blocks {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 6px 0;
}

.link {

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color: rgba(36, 163, 255, 1);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

        
    &::after {
        content: '';
        background-image: url(../images/Arrow.svg);
        height: 12px;
        width:12px;
        position: absolute;
        top: 1px;
        left: 80px; 
    }

    &:hover {
        color: rgba(240, 20, 90, 1);

        &::after {
            content: '';
            background-image: url(../images/Arrowhover.svg);
            height: 12px;
            width: 12px;
        }
    }
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.phone {

    a {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: right;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    
    .logo:nth-child(n+7) {
        display: none;
    }

    .header {

        .header-info {

            .header-contacts {

                .location {
                    display: none;
                }
        
                .phone {
                    &::before {
                        display: none;
                    }
                }
                
                .img {
                    display: none;
                }
        
            }

            .logo {

                .company-logo {
                    display: none;
                }
            }
        }

        .menu {
            display: none;
        }
    }
}

@media (min-width: 768px) {

    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .header {

        padding-top: 50px;
        padding-left: 60px;

        .header-info {

            display: grid;
            grid-template-areas:
             "c"
             "l"
             "n";
            row-gap: 30px;

            .header-contacts {

                grid-area: c;
                padding: 0;
                background-color: inherit;
                justify-content: start;

                .location {
                    display: inline-block;
                }
        
                .phone {
                    &::before {
                        display: inline-block;
                    }
                }
                
                .img {
                    display: inline-block;
                }
        
            }

            .logo {

                grid-area: l;
                display: block;
                padding: 0;
            
                .services-logo {
                    display: none;
                }

                .company-logo {
                    display: block;
                }

            }
            
            .nav {

                grid-area: n;

                .menu {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    margin: 0;
                    padding: 0;
                }
    
                
                .burger {
                    display: none;
                }

                .layer {
                    display: none;
                }
            }
        }

        
    }

    .content {

        padding-top: 60px;
        padding-bottom: 60px;

        .content-title {

            padding-bottom: 60px;

            .content-link {
            
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: left;
    
                &:first-of-type {
                    padding-left: 60px;
                }
            }
        }

        .content-block {

            padding-top: 60px;

            .content-block-title {
            
                font-size: 30px;
                font-weight: 700;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: left;
    
            }
    
            .content-block-text {
               
                font-size: 19px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
    
            }
        }
    }

    .title {
        font-size: 38px;
        line-height: 46px;
    }
    
    .services {
        
        margin-bottom: 80px;
        
        .title {
            margin-bottom: 60px;
        }

        .blocks {

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 60px;
        }
    
    }

    .slider {

        .slider-inner {

            grid-template-columns: repeat(9, 648px);

            .text {
                margin: 0;
            }

            .slider-one {
            
                .img-one {
                    background-image: url(../images/image-tablet.png);
                    width: 100%;
                }
                
            }
    
            .slider-two {
    
                .img-two {
                    background-position: 0 -57px;
                }
                
            }
    
            .slider-three {
                
                .img-three {
                    background-position: 0 -57px;
                }
                
            }
        }
    }
    
    .partners {
        
        .partners-blocks {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            
            .logo {
                display: block;
            }
        }

    }

    .cards {

        .cards-blocks {

            grid-template-areas: 
            "card-one card-two" 
            "card-three card-three";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
    
            .card-one {
                
                grid-area: card-one;
                
                .img {
                    background-image: url(../images/card-one-tablet.png);
                    width: 100%;
                }
            }
    
            .card-two {
    
                grid-area: card-two;
    
                .img {
                    background-image: url(../images/card-two-tablet.png);
                    width: 100%;
                }
    
            }
    
            .card-three {
    
                grid-area: card-three;
    
                .img {
                    background-image: url(../images/card-three-tablet.png);
                    width: 100%;
                }
            }
        }
    }

    .footer {

        display: grid;
        grid-template-areas:
        "info copyright"
        "contacts contacts";
        justify-content: space-between;

        .info {
            grid-area: info;
            flex-direction: row;
            padding: 0;
            gap: 0;

            .location {

                &::after {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }
            }
        }

        .contacts {

            grid-area: contacts;
            flex-direction: row;
            padding: 0;
            gap: 0;
            align-self: start;

            .phone {

                &::before {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(179, 179, 186, 1);
                    margin: 3px 10px;
                }
            }
        }

        .copyright {
            grid-area: copyright;
        }
    }

    .header_service_entry_page {

        .header-info {
            .logo {

                .services-logo {
                    display: block;
                    
                    img {
                        width: 302px;
                        height: 60px;
                    }
                }
            }

            .nav {

                .menu :nth-child(2) {
                    a {
                        color: rgba(240, 20, 90, 1);
                        border-bottom: 2px solid rgba(240, 20, 90, 1);
                    }
                }
                
            }
        }
    }

    .services_entry_page {

        .block-consult {
            padding: 60px 0;
        }

        .block-description {
            grid-template-areas: 
            's s'
            'one two';
            column-gap: 60px;

            .subtitle {
                grid-area: s;
            }

            .block_one {
                grid-area: one;
                
            }
    
            .block_two {
                grid-area: two;
            }
        }
    }
}

@media (min-width: 1024px) {


    .header {

        padding-right: 60px;
        background-size: contain;
        background-position: 50% 50%;

        .header-info {

            grid-template-areas:
             "l c"
             "l n";
            justify-content: space-between;
            row-gap: 15px;

            .header-contacts {

                .location {
                    color: rgba(255, 255, 255, 1);

                }
            }
            .nav {

                .menu {
                    justify-content: end;
                }
            }
        }
    }

    .content {

        display: grid;
        grid-template-columns: auto auto;
        gap: 60px;

        .content-wrapper {
            padding-left: 60px;
        }

        .wrapper {
            padding-left: 0;
            padding-right: 60px;
        }

        .content-title {

            flex-direction: column;
            padding-bottom: 0;
            
            .content-link {
                
                text-align: right;
                margin-bottom: 0;
                
                &:first-of-type {
                    padding-left: 0;
                }
            }
        }

        .content-block {

            padding-top: 10px;
            padding-bottom: 10px;
            border-left: 4px solid rgba(255, 255, 255, 0.3);
            border-top: none;
            padding-left: 60px;
        }
    }

   .services {

        .blocks {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
   }

   .slider {

        .slider-inner {

            grid-template-columns: repeat(9, 904px);

            .img {
                border-top-right-radius: 0;
                border-bottom-left-radius: 12px;
                width: 400px;
                height: 528px;
            }

            .block {
                border-top-right-radius: 12px;
                border-bottom-left-radius: 0;
            }

            .slider-one {

                grid-template-columns: auto auto;
                grid-template-rows: 1fr;
        
                .img-one {
                    background-image: url(../images/image-tabletHD.png);
                    width: 400px;
                    height: 528px;
                }
        
            }

            .slider-two {
                grid-template-columns: auto auto;
                grid-template-rows: 1fr;

                .img-two {
                    background-position: -80px 0;
                }
            }

            .slider-three {
                grid-template-columns: auto auto;
                grid-template-rows: 1fr;

                .img-three {
                    background-position: -80px 0;
                }
            }
        }

    
   }

   .partners {

        .partners-blocks {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
       
   }

   .cards {

       .cards-blocks {
       
           grid-template-areas: 
           "card-one card-two card-three";
           grid-template-columns: repeat(3, 1fr);
           grid-template-rows: 1fr;
       
          .card-one {
              
               .img {
                   background-image: url(../images/card-one-tablerhd.png);
               }
       
           }
       
           .card-two {
       
               .img {
                   background-image: url(../images/card-two-tablethd.png);
               }
       
           }
       
           .card-three {
              
               .img {
                   background-image: url(../images/card-three-tablethd.png);
               }
           }
       }

    }
}

@media (min-width: 1440px) {

    .content {

        .content-wrapper {
            padding-left: 180px;
        }

        .wrapper {
            padding-right: 180px;
        }
           
        .content-block {         
            padding-top: 43px;
            padding-bottom: 43px;
        }
    }

    .slider {

        .slider-inner {

            grid-template-columns: repeat(9, 1320px);

            .img {
                height: 344px;
            }

            .slider-one {
    
                .img-one {
                    background-image: url(../images/image-desktopSD.png);
                    height: 344px;
                }
        
            }

            .slider-two {

                .img-two {
                    background-position: 0 -30px;
                }
            }

            .slider-three {

                .img-three {
                    background-position: 0 0;
                }
            }
        
        }
        
    }

    .cards {

        .cards-blocks {

            .card-one {
    
                .img {
                    background-image: url(../images/card-one-desktopsd.png);
                }
    
            }
    
            .card-two {
    
                .img {
                    background-image: url(../images/card-two-desktopsd.png);
                }
    
            }
    
            .card-three {
    
                .img {
                    background-image: url(../images/card-three-desktopsd.png);
                }
    
            }
        }
    }

    .services_entry_page {
        .wrapper {
            padding-left: 180px;
            padding-right: 180px;
        }
    }
}


@media (min-width: 1920px) {

    .wrapper {
        padding-left: 160px;
        padding-right: 160px;
    }

    .header {

        padding-left: 160px;
        padding-right: 160px;

    }

    .content {

        max-width: 1360px;
        margin: 0 auto;

        .content-wrapper {
            padding-left: 0;
        }

        .wrapper {
            padding-right: 0;
        }
           
        .content-block {          
            padding-top: 73px;
            padding-bottom: 73px;
        }
    }

    .slider {

        .slider-inner {

            grid-template-columns: repeat(9, 1600px);

            .img {
                height: 298px;
            }

            .slider-one {
    
                .img-one {
                    background-image: url(../images/image-desktop.png);
                    height: 298px;
                }
        
            }

            .slider-two {

                .img-two {
                    background-position: 0 -70px;
                }
            }

            .slider-three {

                .img-three {
                    background-position: 0 -70px;
                }
            }
        }
    }
    
    .partners {

        .partners-blocks {
        
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 60px;
           
            .hillel {
                border-top-left-radius: 12px;
            }
            
            .look {
                border-top-right-radius: 12px;
            }
           
            .infratek {
                border-bottom-left-radius: 12px;
            }
           
            .ultimate {
                border-bottom-right-radius: 12px;
            }
        }
    }

    .cards {

        .cards-blocks {

            .card-one {
    
                .img {
                    background-image: url(../images/card-one-desktop.png);
                }
    
            }
    
            .card-two {
    
                .img {
                    background-image: url(../images/card-two-desktop.png);
                }
    
            }
    
            .card-three {
    
                .img {
                    background-image: url(../images/card-three-desktop.png);
                }
    
            }
    
        }
    }

    .services_entry_page {
        .wrapper {
            padding-left: 280px;
            padding-right: 280px;
        }
    }
}



